*/ {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif
}
body{
    margin: 0;
    background-color: #333;
}

.container {
    width: 100%;
    margin: auto;
    max-width: 1200px;
    padding: 0 20px;
}
.logo a{
    font-family: 'Calistoga';
    font-size: 36px;
    color: #FFF;
    text-decoration: none;
}
.logo a span {
    color: #FE6A0F; 
}

/* Header */
header{
    position: sticky;
    top: 0;
    background-color: #222;
    padding: 0 20px;
}
header .container {
    display: flex;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
    gap: 50px;
}
header nav {
    flex: 1;
    display: flex;
    align-items: center;
}
header nav .leftside {
    display: flex;
    flex: 1;
}
header nav li {
    margin: 0 30px;
}
header nav li a {
    color: #FFF;
    text-decoration: none;
}
header nav li a:hover {
    color: #ccc;
}
header nav .button {
    display: block;
    border: 1px solid #FFF;
    padding: 15px 30px;
    border-radius: 5px;
    color: #FFF;
    text-decoration: none;
}
header nav .button:hover {
    color: #ccc;
    border-color: #ccc;
}

h2{
    color:orange;
}
.hamburger .container {
    display:flex;
}
.hamburger .leftside,
.hamburger .rightside {
    flex: 1;
}
.hamburger .leftside {
    padding-bottom: 150px;
}
.hamburger .rightside {
    text-align: center;
}
.hamburger .rightside img {
    width: auto;
    height: 600px;
}
.hamburger h1 {
    font-family: 'Calistoga';
    font-size: 72px;
    line-height: 74px;
    margin-top: 50px;
}
.hamburger p {
    line-height: 26px;
    font-size: 20px;
    margin: 40px 0px;
}
.hamburger .button {
    display: inline-block;
    background-color: #FE6A0F;
    font-weight: 500px;
    color: #FFF;
    padding: 15px 80px;
    border-radius: 5px;
    text-decoration: none;
}
.hamburger .button:hover {
    opacity: 0.8;
}

footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
h1{
    color:white;
}
p{
    color:white;
}